@import "src/_constant.scss";


.projects-body {
  display: flex;

  #page-title {
    margin-top: 8%;
    margin-bottom: 10%;
  }

  .projects-info {
    display: flex;
    flex-direction: column;
    margin-left: 20em;

      #proj-desc {
        width: 50em;
      }


    #proj-1 {
      align-self: center;
      margin-bottom: 5em;
      

      .proj-left {
        width: 15em;
        float: left;
      }

      #budgie-logo {
        width: 10em;
      }
    }
    


    #proj-2 {
      align-self: center;
      margin-bottom: 5em;

      .proj-right {
        width: 15em;
        float: right;
      }

      #okee-logo {
        width: 15em;
      }
      
    }
    


    #proj-3 {
      align-self: center;
      margin-bottom: 5em;

      .proj-left {
            width: 15em;
            float: left;
      }

      
    }

  }

  .projects-sidebar {
    position: fixed;
    left: 0;
  }
}
