@import "src/_constant.scss";


.projects-body {
  display: flex;


  .projects-sidebar {
    position: fixed;
    left: 0;
  }

  .projects-info {

    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 5%;

    img {
      width: 10em;
    }

    #proj-1 {
      margin-top: 2em;
      display: flex;
      justify-content: space-evenly;
      h3 {
        font-size: 2em;
      }
       p{
        width: 30%;
       }
    }

    #proj-3 {
      margin-top: 5em;
      display: flex;
      justify-content: space-evenly;
      h3 {
        font-size: 2em;
      }
       p{
        width: 30%;
       }
    }


    #proj-2 {
      margin-top: 5em;
      display: flex;
      justify-content: space-evenly;
      h3 {
        font-size: 2em;
      }
       p{
        width: 30%;
       }
    }
  }
  #page-title {
    margin-bottom: 2em;
  }
}
