@import "src/_constant.scss";


.welcome-main {
  display: flex;
  justify-content: center;
  font-family: $font;
  width: 100%;
  margin-top: 1%;


  .welcome-body {
    display: flex;
    justify-content: space-around;
    width: 100%;

    h1 {
      margin-bottom: 2em;
      align-self: center;
    }

    p {
      width: 65%;
    }

      #gord-fire {
        width: 25%;
        margin-top: 10em;
        margin-right: 15em;
      }

    .welcome-left {
      margin-top: 8%;
      width: 55%;
    }

  }
}
