@import "src/_constant.scss";


.about-body {
  display: flex;
  font-family: $font;

  .about-info {
    margin-top: 5%;
    #page-title {
      margin-bottom: 2em;
    }
  }

  .about-sidebar {
    position: fixed;
    left: 0;
  }
}
