@import "src/_constant.scss";


.about-body {
  display: flex;
  font-family: $font;
  margin-top: 5%;
  margin-left: 10%;
  justify-content: space-around;

  #about-title {
    margin-top: 8%;
    margin-bottom: 5%;
  }

  .about-info {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;

    #page-title {
      margin-bottom: 2em;
    }

    #gord-bass {
      width: 20%;
      margin-right: 10%;
    }

    .about-writeup {
      display: flex;
      flex-direction: column;

      p {
        margin-right: 10%;
        margin-left: 10%;
      }      
    }

  }

}
