p {
  font-size: large;
}

body {
  background-image: url("https://github.com/rndedg/portfolio/blob/master/assets/clean-textile.png?raw=true");
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  align-content: center;
}